body{
    background-color: #94B6EF;
}
#checkoutpage{
    background-color: #94B6EF;
}
.carousel-inner{
    align-items: center;
    background-size: cover;
    background-position: center;
   
    
}

readme{
    background-color: #F5C378;
}
#logo{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    
}

footer{
    width: 100%;
    height: 250px;
    background-color: #213E60;
    text-align: center;
    color: wheat;
    margin-top: 50px;
}

.round-image-a{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-left: 45%;
    margin-top: 10px;
    background-image: url("../images/instagram.jpeg");
}

.round-image-b{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-left: 45%;
    margin-top: 10px;
    background-image: url("../images/facebook.png");
}

.round-image-c{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-left: 45%;
    margin-top: 10px;
    background-image: url("../images/location.jpeg");
}

.accordion{
    width: 50%;
    margin-left: 350px;
}

h3{
    font-family: 'Inter', sans-serif;
}

h1{
    font-family: 'Roboto Mono', monospace;
    text-align:  center;
}

h2{
    text-align:  center;
    margin-top: 30px;
}
.card{
    margin: 20px;
    margin-left: 60px;
}

.carousel-control-next, .carousel-control-prev {
    top: auto;
    right: auto;
    left: 24px;
    bottom: 24px;
    width: auto;
    background-color: white;
    padding: 12px;
    border-radius: 50%;
}

.carousel-control-next {
    left: 84px;
}

.list-group-flush{
    margin: 20px;
    width: 650px;
}

.col-box{
    height: 350px;
    width: 200;
    background-color: #213E60;
    color: wheat;
    margin: 20px;
   text-align: center;
}

button{
   background-color: #213E60;
   padding: 7px;
   /* margin-left: 100px; */
   color: white;
   border-radius: 10px
   
}
#clear{
    margin-left: 50PX;
}

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Libre+Baskerville:wght@700&display=swap');

/* ---------------------------------------- */
/* Global Styles */

/* Fonts */
/* h1,h2,h3,h4,h5,h6 {
    font-family: 'Libre Baskerville', serif;
} */

p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

/* Spacing */
.full-height {
    height: 100vh;
}

/* ---------------------------------------- */



/* Carousel -------------------------------------*/

#slide {
    background-color: #94B6EF;
   height: 750px;
   width: 750px;
}
   
.container1{
    background-color: #F3E8D7 ;
    
}
.container2{
    background-color: #213E60 ;
}

.container3{
    background-color: #F5C378;
}


.carousel-control-next, .carousel-control-prev {
    top: auto;
    right: auto;
    left: 24px;
    bottom: 24px;
    width: auto;
    background-color: white;
    padding: 12px;
    border-radius: 50%;
}

.carousel-control-next {
    left: 84px;
}

/* Card ----------------------*/

.card {
    border-radius: 150px 12px;
    background: #F3F3F3;
    text-align: center;
    height: 540px;
    border: none;
}

.card-img-top {
    width:auto;
    height:320px;
    margin: auto;
    /* transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);  */
}

.card-img-top.small {
    height:200px;
}

.card-text {
    color: #18382B;
}

/* ---------------------------------------------------------------- */

/*CHECKOUT PAGE */

.table{
    margin: 20px;
}
#checkout{
    background-color: #94B6EF;
    border-radius: 10px;
    padding: 10px;
}

#cruisetrip{
    height: 300px;
    width: 300px;
    padding: 30px;
    border-radius: 150px 12px; ;
    
}
#temp{
    background-color: #213E60;
    height: 80px;
    width: 80px;
    border-radius: 150px;
    margin: 40px;
    margin-left: 650px;
    color: white;

}

#trash{
    height: 20px;
    width: 20px

}

