body{
    background-color: #94B6EF;
}

.carousel-inner{
    align-items: center;
   
    
}

footer{
    width: 100%;
    height: 250px;
    background-color: #213E60;
    text-align: center;
    color: wheat;
    margin-top: 50px;
}

.round-image-a{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-left: 45%;
    margin-top: 10px;
    background-image: url("../images/instagram.jpeg");
}

.round-image-b{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-left: 45%;
    margin-top: 10px;
    background-image: url("../images/facebook.png");
}

.round-image-c{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-left: 45%;
    margin-top: 10px;
    background-image: url("../images/location.jpeg");
}

.accordion{
    width: 50%;
}

h3{
    font-family: 'Inter', sans-serif;

}

h1{
    font-family: 'Roboto Mono', monospace;
}
.card{
    margin: 20px;
    margin-left: 60px;
}